//Colors
$primary-color: lightpink;
$secundary-color: lightskyblue;
$coral: lightcoral;
$peach: peachpuff;
$favorite-image: lightgreen;
$grape: blueviolet;

//Text
$primary-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;