.form {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 30px;
  padding-bottom: 5px;
  background-color: $secundary-color;
}

.form_input {
  background-color: $primary-color;
  border-radius: 5px;
}
.form_button {
  border-radius: 5px;
  background-color: $coral;
}
